body {
    background-color: rgba(0, 99, 248, 0.986); /* Color del fondo */
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}


nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

h1 {
    color: rgba(78, 1, 1, 0.986); /*letras*/
    text-align: center;
}
h2 {
    color:rgba(50, 1, 78, 0.986);/*letras*/
    text-align: center;
}




